apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: tinybird-data
  namespace: analytics
  labels:
    app: tinybird
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis-data
  namespace: analytics
  labels:
    app: tinybird
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
